:root {
    --white: #000000;
    --black: #FFFFFF;
    --upper: #13151B;
    --bottom: #000000;
    --gray100: #1D1F28;
    --gray200: #303A4D;
    --gray300: #525D74;
    --gray400: #AEB9CB;
    --gray500: #F7F7FB;
}


/*https://codepen.io/sosuke/pen/Pjoqqp*/

.img-gray100 {
    filter: invert(7%) sepia(5%) saturate(4157%) hue-rotate(192deg) brightness(96%) contrast(88%);
}

.img-gray200 {
    filter: invert(19%) sepia(46%) saturate(418%) hue-rotate(181deg) brightness(90%) contrast(87%);
}

.img-gray300 {
    filter: invert(35%) sepia(17%) saturate(622%) hue-rotate(182deg) brightness(96%) contrast(90%);
}

.img-gray400 {
    filter: invert(77%) sepia(12%) saturate(351%) hue-rotate(178deg) brightness(95%) contrast(88%);
}

.img-gray500 {
    filter: invert(95%) sepia(10%) saturate(1532%) hue-rotate(182deg) brightness(111%) contrast(96%);
}

.img-white {
    filter: invert(0%) sepia(24%) saturate(0%) hue-rotate(83deg) brightness(91%) contrast(103%);
}

.img-black {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(213deg) brightness(101%) contrast(103%);
}