:root {
    --accent: #5661FF;
    --white: #FFFFFF;
    --black: #000000;
    --upper: #FFFFFF;
    --bottom: #F8F8FB;

    --gray100: #F7F7FB;
    --gray200: #E8ECF2;
    --gray300: #AEB9CB;
    --gray400: #525D74;
    --gray500: #303A4D;

    --staticWhite: #FFFFFF;
    --staticBlack: #000000;
    --green: #00C07B;
    --red: #FF3347;
    --warning: #FFC048;
}

.black-text {
    color: var(--black);
}

.white-text {
    color: var(--white);
}

.blue-text {
    color: var(--accent);
}

.blue-back {
    background-color: var(--accent);
}

.green-text {
    color: var(--green);
}

.green-back {
    background-color: var(--green);
}

.white-back {
    background-color: var(--white);
}

.red-text {
    color: var(--red);
}

.red-back {
    background-color: var(--red);
}

.gray100-text {
    color: var(--gray100);
}

.gray200-text {
    color: var(--gray200);
}

.gray300-text {
    color: var(--gray300);
}

.gray400-text {
    color: var(--gray400);
}

.gray500-text {
    color: var(--gray500);
}

.gray200-back {
    background-color: var(--gray200);
}

.gray300-back {
    background-color: var(--gray300);
}

.gray400-back {
    background-color: var(--gray400);
}

.gray500-back {
    background-color: var(--gray500);
}

.upper-back {
    background-color: var(--bottom);
}

.bottom-back {
    background-color: var(--upper);
}

/*https://codepen.io/sosuke/pen/Pjoqqp*/

.img-accent {
    filter: invert(43%) sepia(34%) saturate(7500%) hue-rotate(224deg) brightness(97%) contrast(108%);
}

.img-blue {
    filter: invert(34%) sepia(82%) saturate(5280%) hue-rotate(235deg) brightness(99%) contrast(98%);
}

.img-green {
    filter: invert(54%) sepia(22%) saturate(7296%) hue-rotate(124deg) brightness(100%) contrast(98%);
}

.img-red {
    filter: invert(35%) sepia(79%) saturate(2026%) hue-rotate(328deg) brightness(105%) contrast(94%);
}

.img-gray {
    filter: invert(98%) sepia(1%) saturate(4021%) hue-rotate(178deg) brightness(121%) contrast(74%);
}

.img-gray100 {
    filter: invert(91%) sepia(24%) saturate(493%) hue-rotate(189deg) brightness(108%) contrast(96%);
}

.img-gray200 {
    filter: invert(97%) sepia(2%) saturate(782%) hue-rotate(181deg) brightness(97%) contrast(96%);
}

.img-gray300 {
    filter: invert(81%) sepia(22%) saturate(210%) hue-rotate(178deg) brightness(92%) contrast(80%);
}

.img-gray400 {
    filter: invert(35%) sepia(10%) saturate(978%) hue-rotate(183deg) brightness(99%) contrast(94%);
}

.img-gray500 {
    filter: invert(20%) sepia(9%) saturate(1778%) hue-rotate(181deg) brightness(94%) contrast(90%);
}

.img-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(301deg) brightness(108%) contrast(101%);
}

.img-black {
    filter: invert(0%) sepia(1%) saturate(7492%) hue-rotate(343deg) brightness(107%) contrast(95%);
}

.img-warning {
    filter: invert(90%) sepia(30%) saturate(1648%) hue-rotate(321deg) brightness(103%) contrast(102%);
}

.size8 {
    font-size: 8px;
}

.size10 {
    font-size: 10px;
}

.size12 {
    font-size: 12px;
}

.size13 {
    font-size: 13px;
}

.size14 {
    font-size: 14px;
    line-height: 18px;
}

.size16 {
    font-size: 16px;
}

.size18 {
    font-size: 18px;
}

.size20 {
    font-size: 20px;
}

.size24 {
    font-size: 24px;
}

.size32 {
    font-size: 32px;
    line-height: 42px;
}

.m0 {
    margin: 4px;
}

.ml0 {
    margin-left: 0;
}

.mr0 {
    margin-right: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.mh0 {
    margin-left: 0;
    margin-right: 0;
}

.mv0 {
    margin-bottom: 0;
    margin-top: 0;
}


.m4 {
    margin: 4px;
}

.ml4 {
    margin-left: 4px;
}

.mr4 {
    margin-right: 4px;
}

.mb4 {
    margin-bottom: 4px;
}

.mt4 {
    margin-top: 4px;
}

.mh4 {
    margin-left: 4px;
    margin-right: 4px;
}

.mv4 {
    margin-bottom: 4px;
    margin-top: 4px;
}

.m8 {
    margin: 8px;
}

.ml8 {
    margin-left: 8px;
}

.mr8 {
    margin-right: 8px;
}

.mb8 {
    margin-bottom: 8px;
}

.mt8 {
    margin-top: 8px;
}

.mh8 {
    margin-left: 8px;
    margin-right: 8px;
}

.mv8 {
    margin-bottom: 8px;
    margin-top: 8px;
}

.m16 {
    margin: 16px;
}

.ml16 {
    margin-left: 16px;
}

.mr16 {
    margin-right: 16px;
}

.mb16 {
    margin-bottom: 16px;
}

.mt16 {
    margin-top: 16px;
}

.mh16 {
    margin-left: 16px;
    margin-right: 16px;
}

.mv16 {
    margin-bottom: 16px;
    margin-top: 16px;
}

.p0 {
    padding: 0;
}

.pl0 {
    padding-left: 0;
}

.pr0 {
    padding-right: 0;
}

.pb0 {
    padding-bottom: 0;
}

.pt0 {
    padding-top: 0;
}

.ph0 {
    padding-left: 0;
    padding-right: 0;
}

.pv0 {
    padding-bottom: 0;
    padding-top: 0;
}

.p4 {
    padding: 4px;
}

.pl4 {
    padding-left: 4px;
}

.pr4 {
    padding-right: 4px;
}

.pb4 {
    padding-bottom: 4px;
}

.pt4 {
    padding-top: 4px;
}

.ph4 {
    padding-left: 4px;
    padding-right: 4px;
}

.pv4 {
    padding-bottom: 4px;
    padding-top: 4px;
}

.p8 {
    padding: 8px;
}

.pl8 {
    padding-left: 8px;
}

.pr8 {
    padding-right: 8px;
}

.pb8 {
    padding-bottom: 8px;
}

.pt8 {
    padding-top: 8px;
}

.ph8 {
    padding-left: 8px;
    padding-right: 8px;
}

.pv8 {
    padding-bottom: 8px;
    padding-top: 8px;
}

.p16 {
    padding: 16px;
}

.pl16 {
    padding-left: 16px;
}

.pr16 {
    padding-right: 16px;
}

.pb16 {
    padding-bottom: 16px;
}

.pt16 {
    padding-top: 16px;
}

.ph16 {
    padding-left: 16px;
    padding-right: 16px;
}

.pv16 {
    padding-bottom: 16px;
    padding-top: 16px;
}

.gap16 {
    gap: 16px;
}

.big-text {
    font-weight: 700;
}

.normal {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.big {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.underline {
    text-decoration: underline;
}

.shadow-black {
    box-shadow: 0 0 3px 0 var(--gray300);
}

.shadow-blue {
    box-shadow: 0 0 2px 0 #4F50FB;
}

