body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%
}

.col, .row {;
    display: flex
}

.col {
    flex-direction: column
}

.row {
    flex-direction: row
}

.wrap {
    flex-wrap: wrap;
}

.col > *, .row > * {
    box-sizing: border-box
}

.flex {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 100%;
}

.flex-10, .row > .flex-10 {
    flex: 1 1 100%;
    max-width: 10%;
    max-height: 100%;
}

.col > .flex-10 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 10%;
}

.flex-20, .row > .flex-20 {
    flex: 1 1 100%;
    max-width: 20%;
    max-height: 100%;
}

.col > .flex-20 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 20%;
}

.flex-25, .row > .flex-25 {
    flex: 1 1 100%;
    max-width: 25%;
    max-height: 100%;
}

.col > .flex-25 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 25%;
}

.flex-30, .row > .flex-30 {
    flex: 1 1 100%;
    max-width: 30%;
    max-height: 100%;
}

.col > .flex-30 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 30%;
}

.flex-40, .row > .flex-40 {
    flex: 1 1 100%;
    max-width: 40%;
    max-height: 100%;
}

.col > .flex-40 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 40%;
}

.flex-50, .row > .flex-50 {
    flex: 1 1 100%;
    max-width: 50%;
    max-height: 100%;
}

.col > .flex-50 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 50%;
}

.flex-60, .row > .flex-60 {
    flex: 1 1 100%;
    max-width: 60%;
    max-height: 100%;
}

.col > .flex-60 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 60%;
}

.flex-70, .row > .flex-70 {
    flex: 1 1 100%;
    max-width: 70%;
    max-height: 100%;
}

.col > .flex-70 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 70%;
}

.flex-80, .row > .flex-80 {
    flex: 1 1 100%;
    max-width: 80%;
    max-height: 100%;
}

.col > .flex-80 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 80%;
}

.flex-90, .row > .flex-90 {
    flex: 1 1 100%;
    max-width: 90%;
    max-height: 100%;
}

.col > .flex-90 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 90%;
}

.flex-33 {
    max-width: 33.33%
}

.flex-33, .flex-66 {
    flex: 1 1 100%;
    max-height: 100%;
}

.flex-66 {
    max-width: 66.66%
}

.row > .flex-33 {
    flex: 1 1 33.33%
}

.row > .flex-66 {
    flex: 1 1 66.66%
}

.col > .flex-33 {
    flex: 1 1 33.33%
}

.col > .flex-66 {
    flex: 1 1 66.66%
}

.row > .flex-33 {
    max-width: 33.33%
}

.row > .flex-33, .row > .flex-66 {
    flex: 1 1 100%;
    max-height: 100%;
}

.row > .flex-66 {
    max-width: 66.66%
}

.row > .flex {
    min-width: 0
}

.col > .flex-33 {
    max-height: 33.33%
}

.col > .flex-33, .col > .flex-66 {
    flex: 1 1 100%;
    max-width: 100%;
}

.col > .flex-66 {
    max-height: 66.66%
}

.col > .flex {
    min-height: 0
}

.align-start, .align-start-center, .align-start-end, .align-start-start {
    justify-content: flex-start
}

.align-center, .align-center-center, .align-center-end, .align-center-start {
    justify-content: center
}

.align-end, .align-end-center, .align-end-end, .align-end-start {
    justify-content: flex-end
}

.align-center-start, .align-end-start, .align-start-start {
    align-items: flex-start;
    align-content: flex-start
}

.align-center-center, .align-end-center, .align-start-center {
    align-items: center;
    align-content: center;
    max-width: 100%
}

.align-center-center > *, .align-end-center > *, .align-start-center > * {
    max-width: 100%;
}

.align-center-end, .align-end-end, .align-start-end {
    align-items: flex-end;
    align-content: flex-end
}


.hide{
    display: none;
}

.show{
    display: inherit;
}

.tablet-hide{
    display: inherit;
}

.tablet-show{
    display: none;
}

@media (max-width: 960px) {

    .tablet-hide{
        display: none;
    }

    .tablet-show{
        display: inherit;
    }

    .tablet-col {
        flex-direction: column
    }

    .tablet-row {
        flex-direction: row
    }

    .tablet-align-start, .tablet-align-start-center, .tablet-align-start-end, .tablet-align-start-start {
        justify-content: flex-start
    }

    .tablet-align-center, .tablet-align-center-center, .tablet-align-center-end, .tablet-align-center-start {
        justify-content: center
    }

    .tablet-align-end, .tablet-align-end-center, .tablet-align-end-end, .tablet-align-end-start {
        justify-content: flex-end
    }

    .tablet-align-center-start, .tablet-align-end-start, .tablet-align-start-start {
        align-items: flex-start;
        align-content: flex-start
    }

    .tablet-align-center-center, .tablet-align-end-center, .tablet-align-start-center {
        align-items: center;
        align-content: center;
        max-width: 100%
    }

    .tablet-align-center-center > *, .tablet-align-end-center > *, .tablet-align-start-center > * {
        max-width: 100%;
    }

    .tablet-align-center-end, .tablet-align-end-end, .tablet-align-start-end {
        align-items: flex-end;
        align-content: flex-end
    }

    .tablet-flex {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .tablet-flex-10, .tablet-row > .tablet-flex-10 {
        flex: 1 1 100%;
        max-width: 10%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-10 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 10%;
    }

    .tablet-flex-20, .tablet-row > .tablet-flex-20 {
        flex: 1 1 100%;
        max-width: 20%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-20 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 20%;
    }

    .tablet-flex-25, .tablet-row > .tablet-flex-25 {
        flex: 1 1 100%;
        max-width: 25%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-25 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 25%;
    }

    .tablet-flex-30, .tablet-row > .tablet-flex-30 {
        flex: 1 1 100%;
        max-width: 30%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-30 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 30%;
    }

    .tablet-flex-40, .tablet-row > .tablet-flex-40 {
        flex: 1 1 100%;
        max-width: 40%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-40 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 40%;
    }

    .tablet-flex-50, .tablet-row > .tablet-flex-50 {
        flex: 1 1 100%;
        max-width: 50%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-50, .col > .flex-50 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 50%;
    }

    .tablet-flex-60, .tablet-row > .tablet-flex-60 {
        flex: 1 1 100%;
        max-width: 60%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-60 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 60%;
    }

    .tablet-flex-70, .tablet-row > .tablet-flex-70 {
        flex: 1 1 100%;
        max-width: 70%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-70 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 70%;
    }

    .tablet-flex-80, .tablet-row > .tablet-flex-80 {
        flex: 1 1 100%;
        max-width: 80%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-80 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 80%;
    }

    .tablet-flex-90, .tablet-row > .tablet-flex-90 {
        flex: 1 1 100%;
        max-width: 90%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-90 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 90%;
    }

    .tablet-flex-33 {
        max-width: 33.33%
    }

    .tablet-flex-33, .tablet-flex-66 {
        flex: 1 1 100%;
        max-height: 100%;
    }

    .tablet-flex-66 {
        max-width: 66.66%
    }

    .tablet-row > .tablet-flex-33 {
        flex: 1 1 33.33%
    }

    .tablet-row > .tablet-flex-66 {
        flex: 1 1 66.66%
    }

    .tablet-col > .tablet-flex-33 {
        flex: 1 1 33.33%
    }

    .tablet-col > .tablet-flex-66 {
        flex: 1 1 66.66%
    }

    .tablet-row > .tablet-flex-33 {
        max-width: 33.33%
    }

    .tablet-row > .tablet-flex-33, .tablet-row > .tablet-flex-66 {
        flex: 1 1 100%;
        max-height: 100%;
    }

    .tablet-row > .tablet-flex-66 {
        max-width: 66.66%
    }

    .tablet-row > .tablet-flex {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .tablet-col > .tablet-flex-33 {
        max-height: 33.33%
    }

    .tablet-col > .tablet-flex-33, .tablet-col > .tablet-flex-66 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .tablet-col > .tablet-flex-66 {
        max-height: 66.66%
    }

    .tablet-col > .tablet-flex {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

.mobile-hide{
    display: inherit;
}

.mobile-show{
    display: none;
}

@media (max-width: 600px) {

    .mobile-hide{
        display: none;
    }

    .mobile-show{
        display: inherit;
    }

    .mobile-col {
        flex-direction: column
    }

    .mobile-row {
        flex-direction: row
    }

    .mobile-align-start, .mobile-align-start-center, .mobile-align-start-end, .mobile-align-start-start {
        justify-content: flex-start
    }

    .mobile-align-center, .mobile-align-center-center, .mobile-align-center-end, .mobile-align-center-start {
        justify-content: center
    }

    .mobile-align-end, .mobile-align-end-center, .mobile-align-end-end, .mobile-align-end-start {
        justify-content: flex-end
    }

    .mobile-align-center-start, .mobile-align-end-start, .mobile-align-start-start {
        align-items: flex-start;
        align-content: flex-start
    }

    .mobile-align-center-center, .mobile-align-end-center, .mobile-align-start-center {
        align-items: center;
        align-content: center;
        max-width: 100%
    }

    .mobile-align-center-center > *, .mobile-align-end-center > *, .mobile-align-start-center > * {
        max-width: 100%;
    }

    .mobile-align-center-end, .mobile-align-end-end, .mobile-align-start-end {
        align-items: flex-end;
        align-content: flex-end
    }

    .mobile-flex {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .mobile-flex-10, .mobile-row > .mobile-flex-10 {
        flex: 1 1 100%;
        max-width: 10%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-10 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 10%;
    }

    .mobile-flex-20, .mobile-row > .mobile-flex-20 {
        flex: 1 1 100%;
        max-width: 20%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-20 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 20%;
    }

    .mobile-flex-25, .mobile-row > .mobile-flex-25 {
        flex: 1 1 100%;
        max-width: 25%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-25 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 25%;
    }

    .mobile-flex-30, .mobile-row > .mobile-flex-30 {
        flex: 1 1 100%;
        max-width: 30%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-30 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 30%;
    }

    .mobile-flex-40, .mobile-row > .mobile-flex-40 {
        flex: 1 1 100%;
        max-width: 40%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-40 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 40%;
    }

    .mobile-flex-50, .mobile-row > .mobile-flex-50 {
        flex: 1 1 100%;
        max-width: 50%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-50, .col > .flex-50 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 50%;
    }

    .mobile-flex-60, .mobile-row > .mobile-flex-60 {
        flex: 1 1 100%;
        max-width: 60%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-60 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 60%;
    }

    .mobile-flex-70, .mobile-row > .mobile-flex-70 {
        flex: 1 1 100%;
        max-width: 70%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-70 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 70%;
    }

    .mobile-flex-80, .mobile-row > .mobile-flex-80 {
        flex: 1 1 100%;
        max-width: 80%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-80 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 80%;
    }

    .mobile-flex-90, .mobile-row > .mobile-flex-90 {
        flex: 1 1 100%;
        max-width: 90%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-90 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 90%;
    }

    .mobile-flex-33 {
        max-width: 33.33%
    }

    .mobile-flex-33, .mobile-flex-66 {
        flex: 1 1 100%;
        max-height: 100%;
    }

    .mobile-flex-66 {
        max-width: 66.66%
    }

    .mobile-row > .mobile-flex-33 {
        flex: 1 1 33.33%
    }

    .mobile-row > .mobile-flex-66 {
        flex: 1 1 66.66%
    }

    .mobile-col > .mobile-flex-33 {
        flex: 1 1 33.33%
    }

    .mobile-col > .mobile-flex-66 {
        flex: 1 1 66.66%
    }

    .mobile-row > .mobile-flex-33 {
        max-width: 33.33%
    }

    .mobile-row > .mobile-flex-33, .mobile-row > .mobile-flex-66 {
        flex: 1 1 100%;
        max-height: 100%;
    }

    .mobile-row > .mobile-flex-66 {
        max-width: 66.66%
    }

    .mobile-row > .mobile-flex {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .mobile-col > .mobile-flex-33 {
        max-height: 33.33%
    }

    .mobile-col > .mobile-flex-33, .mobile-col > .mobile-flex-66 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .mobile-col > .mobile-flex-66 {
        max-height: 66.66%
    }

    .mobile-col > .mobile-flex {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
    }
}