body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    width: 100%;
    height: 100%;
}

.fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.fill-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.fill-height {
    height: 100%;
}

.col, .row {
    display: flex;
}

.col {
    flex-direction: column;
}

.col-reverse {
    flex-direction: column-reverse;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.col > *, .row > * {
    box-sizing: border-box;
}

.flex {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 100%;
}

.flex-10, .row > .flex-10 {
    flex: 1 1 100%;
    max-width: 10%;
    max-height: 100%;
}

.col > .flex-10 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 10%;
}

.flex-20, .row > .flex-20 {
    flex: 1 1 100%;
    max-width: 20%;
    max-height: 100%;
}

.col > .flex-20 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 20%;
}

.flex-25, .row > .flex-25 {
    flex: 1 1 100%;
    max-width: 25%;
    max-height: 100%;
}

.col > .flex-25 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 25%;
}

.flex-30, .row > .flex-30 {
    flex: 1 1 100%;
    max-width: 30%;
    max-height: 100%;
}

.col > .flex-30 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 30%;
}

.flex-40, .row > .flex-40 {
    flex: 1 1 100%;
    max-width: 40%;
    max-height: 100%;
}

.col > .flex-40 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 40%;
}

.flex-50, .row > .flex-50 {
    flex: 1 1 100%;
    max-width: 50%;
    max-height: 100%;
}

.col > .flex-50 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 50%;
}

.flex-60, .row > .flex-60 {
    flex: 1 1 100%;
    max-width: 60%;
    max-height: 100%;
}

.col > .flex-60 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 60%;
}

.flex-70, .row > .flex-70 {
    flex: 1 1 100%;
    max-width: 70%;
    max-height: 100%;
}

.col > .flex-70 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 70%;
}

.flex-80, .row > .flex-80 {
    flex: 1 1 100%;
    max-width: 80%;
    max-height: 100%;
}

.col > .flex-80 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 80%;
}

.flex-90, .row > .flex-90 {
    flex: 1 1 100%;
    max-width: 90%;
    max-height: 100%;
}

.col > .flex-90 {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 90%;
}

.flex-33 {
    max-width: 33.33%;
}

.flex-33, .flex-66 {
    flex: 1 1 100%;
    max-height: 100%;
}

.flex-66 {
    max-width: 66.66%;
}

.row > .flex-33 {
    flex: 1 1 33.33%;
}

.row > .flex-66 {
    flex: 1 1 66.66%;
}

.col > .flex-33 {
    flex: 1 1 33.33%;
}

.col > .flex-66 {
    flex: 1 1 66.66%;
}

.row > .flex-33 {
    max-width: 33.33%;
}

.row > .flex-33, .row > .flex-66 {
    flex: 1 1 100%;
    max-height: 100%;
}

.row > .flex-66 {
    max-width: 66.66%;
}

.row > .flex {
    min-width: 0;
}

.col > .flex-33 {
    max-height: 33.33%;
}

.col > .flex-33, .col > .flex-66 {
    flex: 1 1 100%;
    max-width: 100%;
}

.col > .flex-66 {
    max-height: 66.66%;
}

.col > .flex {
    min-height: 0;
}

.align-start, .align-start-center, .align-start-end, .align-start-start {
    justify-content: flex-start;
}

.align-center, .align-center-center, .align-center-end, .align-center-start {
    justify-content: center;
}

.align-end, .align-end-center, .align-end-end, .align-end-start {
    justify-content: flex-end;
}

.align-center-start, .align-end-start, .align-start-start {
    align-items: flex-start;
    align-content: flex-start;
}

.align-center-center, .align-end-center, .align-start-center {
    align-items: center;
    align-content: center;
    max-width: 100%;
}

.align-center-center > *, .align-end-center > *, .align-start-center > * {
    max-width: 100%;
}

.align-center-end, .align-end-end, .align-start-end {
    align-items: flex-end;
    align-content: flex-end;
}

.hide {
    display: none;
}

.show {
    display: inherit;
}

.tablet-hide {
    display: inherit;
}

.tablet-show {
    display: none;
}

.mob-hide {
    display: inherit;
}

.mob-show {
    display: none;
}

@media (max-width: 1000px) {

    .mob-fill-width {
        width: 100%;
    }

    .mob-half-width {
        width: 50%;
    }

    .mob-fill-height {
        height: 100%;
    }

    .mob-hide {
        display: none;
    }

    .mob-show {
        display: inherit;
    }

    .mob-col {
        flex-direction: column;
    }

    .mob-row {
        flex-direction: row;
    }

    .mob-align-start, .mob-align-start-center, .mob-align-start-end, .mob-align-start-start {
        justify-content: flex-start;
    }

    .mob-align-center, .mob-align-center-center, .mob-align-center-end, .mob-align-center-start {
        justify-content: center;
    }

    .mob-align-end, .mob-align-end-center, .mob-align-end-end, .mob-align-end-start {
        justify-content: flex-end;
    }

    .mob-align-center-start, .mob-align-end-start, .mob-align-start-start {
        align-items: flex-start;
        align-content: flex-start;
    }

    .mob-align-center-center, .mob-align-end-center, .mob-align-start-center {
        align-items: center;
        align-content: center;
        max-width: 100%;
    }

    .mob-align-center-center > *, .mob-align-end-center > *, .mob-align-start-center > * {
        max-width: 100%;
    }

    .mob-align-center-end, .mob-align-end-end, .mob-align-start-end {
        align-items: flex-end;
        align-content: flex-end;
    }

    .mob-flex {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .mob-flex-10, .mob-row > .mob-flex-10 {
        flex: 1 1 100%;
        max-width: 10%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-10 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 10%;
    }

    .mob-flex-20, .mob-row > .mob-flex-20 {
        flex: 1 1 100%;
        max-width: 20%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-20 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 20%;
    }

    .mob-flex-25, .mob-row > .mob-flex-25 {
        flex: 1 1 100%;
        max-width: 25%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-25 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 25%;
    }

    .mob-flex-30, .mob-row > .mob-flex-30 {
        flex: 1 1 100%;
        max-width: 30%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-30 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 30%;
    }

    .mob-flex-40, .mob-row > .mob-flex-40 {
        flex: 1 1 100%;
        max-width: 40%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-40 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 40%;
    }

    .mob-flex-50, .mob-row > .mob-flex-50 {
        flex: 1 1 100%;
        max-width: 50%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-50, .col > .flex-50 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 50%;
    }

    .mob-flex-60, .mob-row > .mob-flex-60 {
        flex: 1 1 100%;
        max-width: 60%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-60 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 60%;
    }

    .mob-flex-70, .mob-row > .mob-flex-70 {
        flex: 1 1 100%;
        max-width: 70%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-70 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 70%;
    }

    .mob-flex-80, .mob-row > .mob-flex-80 {
        flex: 1 1 100%;
        max-width: 80%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-80 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 80%;
    }

    .mob-flex-90, .mob-row > .mob-flex-90 {
        flex: 1 1 100%;
        max-width: 90%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-90 {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 90%;
    }

    .mob-flex-33 {
        max-width: 33.33%;
    }

    .mob-flex-33, .mob-flex-66 {
        flex: 1 1 100%;
        max-height: 100%;
    }

    .mob-flex-66 {
        max-width: 66.66%;
    }

    .mob-row > .mob-flex-33 {
        flex: 1 1 33.33%;
    }

    .mob-row > .mob-flex-66 {
        flex: 1 1 66.66%;
    }

    .mob-col > .mob-flex-33 {
        flex: 1 1 33.33%;
    }

    .mob-col > .mob-flex-66 {
        flex: 1 1 66.66%;
    }

    .mob-row > .mob-flex-33 {
        max-width: 33.33%;
    }

    .mob-row > .mob-flex-33, .mob-row > .mob-flex-66 {
        flex: 1 1 100%;
        max-height: 100%;
    }

    .mob-row > .mob-flex-66 {
        max-width: 66.66%;
    }

    .mob-row > .mob-flex {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .mob-col > .mob-flex-33 {
        max-height: 33.33%;
    }

    .mob-col > .mob-flex-33, .mob-col > .mob-flex-66 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .mob-col > .mob-flex-66 {
        max-height: 66.66%;
    }

    .mob-col > .mob-flex {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .mod-fill {
        margin: 0;
        width: 100%;
        min-height: 100%;
        height: 100%;
    }
}



.size8 {
    font-size: 8px;
}

.size10 {
    font-size: 10px;
}

.size12 {
    font-size: 12px;
}

.size13 {
    font-size: 13px;
}

.size14 {
    font-size: 14px;
    line-height: 18px;
}

.size16 {
    font-size: 16px;
}

.size18 {
    font-size: 18px;
}

.size20 {
    font-size: 20px;
}

.size22 {
    font-size: 22px;
}

.size24 {
    font-size: 24px;
}

.size32 {
    font-size: 32px;
}

.size40 {
    font-size: 40px;
}

.size50 {
    font-size: 50px;
}

.size60 {
    font-size: 60px;
}

.size70 {
    font-size: 70px;
}

.m0 {
    margin: 0px;
}

.m4 {
    margin: 4px;
}

.m8 {
    margin: 8px;
}

.m16 {
    margin: 16px;
}

.ml0 {
    margin-left: 0;
}

.mr0 {
    margin-right: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.mh0 {
    margin-left: 0;
    margin-right: 0;
}

.mv0 {
    margin-bottom: 0;
    margin-top: 0;
}

.ml4 {
    margin-left: 4px;
}

.mr4 {
    margin-right: 4px;
}

.mb4 {
    margin-bottom: 4px;
}

.mt4 {
    margin-top: 4px;
}

.mh4 {
    margin-left: 4px;
    margin-right: 4px;
}

.mv4 {
    margin-bottom: 4px;
    margin-top: 4px;
}

.ml8 {
    margin-left: 8px;
}

.mr8 {
    margin-right: 8px;
}

.mb8 {
    margin-bottom: 8px;
}

.mt8 {
    margin-top: 8px;
}

.mh8 {
    margin-left: 8px;
    margin-right: 8px;
}

.mv8 {
    margin-bottom: 8px;
    margin-top: 8px;
}

.ml16 {
    margin-left: 16px;
}

.mr16 {
    margin-right: 16px;
}

.mb16 {
    margin-bottom: 16px;
}

.mt16 {
    margin-top: 16px;
}

.mh16 {
    margin-left: 16px;
    margin-right: 16px;
}

.mv16 {
    margin-bottom: 16px;
    margin-top: 16px;
}

.p0 {
    padding: 0;
}

.p4 {
    padding: 4px;
}

.p8 {
    padding: 8px;
}

.p16 {
    padding: 16px;
}

.pl0 {
    padding-left: 0;
}

.pr0 {
    padding-right: 0;
}

.pb0 {
    padding-bottom: 0;
}

.pt0 {
    padding-top: 0;
}

.ph0 {
    padding-left: 0;
    padding-right: 0;
}

.pv0 {
    padding-bottom: 0;
    padding-top: 0;
}

.pl4 {
    padding-left: 4px;
}

.pr4 {
    padding-right: 4px;
}

.pb4 {
    padding-bottom: 4px;
}

.pt4 {
    padding-top: 4px;
}

.ph4 {
    padding-left: 4px;
    padding-right: 4px;
}

.pv4 {
    padding-bottom: 4px;
    padding-top: 4px;
}

.pl8 {
    padding-left: 8px;
}

.pr8 {
    padding-right: 8px;
}

.pb8 {
    padding-bottom: 8px;
}

.pt8 {
    padding-top: 8px;
}

.ph8 {
    padding-left: 8px;
    padding-right: 8px;
}

.pv8 {
    padding-bottom: 8px;
    padding-top: 8px;
}

.pl16 {
    padding-left: 16px;
}

.pr16 {
    padding-right: 16px;
}

.pb16 {
    padding-bottom: 16px;
}

.pt16 {
    padding-top: 16px;
}

.ph16 {
    padding-left: 16px;
    padding-right: 16px;
}

.pv16 {
    padding-bottom: 16px;
    padding-top: 16px;
}

.gap4 {
    gap: 4px;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap24 {
    gap: 24px;
}

.gap32 {
    gap: 32px;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.text-align-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.uppercase-first-letter {
    text-transform: lowercase;
}

.uppercase-first-letter::first-letter {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.underline {
    text-decoration: underline;
}

.shadow {
    box-shadow: 4px 0 4px rgba(255,255,255,0.2);
}

.text-fill {
    text-align: justify;
    text-justify: inter-word;
}

.img30 {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}

.img38 {
    width: 38px;
    height: 38px;
    min-width: 38px;
    min-height: 38px;
}

.img36 {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
}

.img40 {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.img50 {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.img200 {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
}

.img100 {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.img32 {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

.img64 {
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
}

.img24 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}

.img18 {
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
}

.img28 {
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
}

.img22 {
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
}

.img20 {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}

.img16 {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.img14 {
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
}

.img12 {
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
}

.img10 {
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
}

.img8 {
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
}

.img4 {
    width: 4px;
    height: 4px;
    min-width: 4px;
    min-height: 4px;
}

.radius3 {
    border-radius: 3px;
}

.radius4 {
    border-radius: 4px;
}

.radius8 {
    border-radius: 8px;
}

.radius10 {
    border-radius: 10px;
}

.radius-default, .radius16 {
    border-radius: 16px;
}

.nowrap {
    white-space: nowrap;
}

.nowrap-disabled {
    white-space: normal;
    word-break: break-word;
}

.text-crop {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor {
    cursor: pointer;
}

.border-none {
    border: none;
}

.relative {
    position: relative;
}

@media (max-width: 1000px) {
    .mob-size8 {
        font-size: 8px;
    }

    .mob-size10 {
        font-size: 10px;
    }

    .mob-size12 {
        font-size: 12px;
    }

    .mob-size13 {
        font-size: 13px;
    }

    .mob-size14 {
        font-size: 14px;
        line-height: 18px;
    }

    .mob-size16 {
        font-size: 16px;
    }

    .mob-size18 {
        font-size: 18px;
    }

    .mob-size20 {
        font-size: 20px;
    }

    .mob-size22 {
        font-size: 22px;
    }

    .mob-size24 {
        font-size: 24px;
    }

    .mob-size32 {
        font-size: 32px;
    }

    .mob-size40 {
        font-size: 40px;
    }

    .mob-size50 {
        font-size: 50px;
    }

    .mob-size60 {
        font-size: 60px;
    }

    .mob-size70 {
        font-size: 70px;
    }

    .mob-m0 {
        margin: 0px;
    }

    .mob-m4 {
        margin: 4px;
    }

    .mob-m8 {
        margin: 8px;
    }

    .mob-m16 {
        margin: 16px;
    }

    .mob-ml0 {
        margin-left: 0;
    }

    .mob-mr0 {
        margin-right: 0;
    }

    .mob-mb0 {
        margin-bottom: 0;
    }

    .mob-mt0 {
        margin-top: 0;
    }

    .mob-mh0 {
        margin-left: 0;
        margin-right: 0;
    }

    .mob-mv0 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .mob-ml4 {
        margin-left: 4px;
    }

    .mob-mr4 {
        margin-right: 4px;
    }

    .mob-mb4 {
        margin-bottom: 4px;
    }

    .mob-mt4 {
        margin-top: 4px;
    }

    .mob-mh4 {
        margin-left: 4px;
        margin-right: 4px;
    }

    .mob-mv4 {
        margin-bottom: 4px;
        margin-top: 4px;
    }

    .mob-ml8 {
        margin-left: 8px;
    }

    .mob-mr8 {
        margin-right: 8px;
    }

    .mob-mb8 {
        margin-bottom: 8px;
    }

    .mob-mt8 {
        margin-top: 8px;
    }

    .mob-mh8 {
        margin-left: 8px;
        margin-right: 8px;
    }

    .mob-mv8 {
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .mob-ml16 {
        margin-left: 16px;
    }

    .mob-mr16 {
        margin-right: 16px;
    }

    .mob-mb16 {
        margin-bottom: 16px;
    }

    .mob-mt16 {
        margin-top: 16px;
    }

    .mob-mh16 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .mob-mv16 {
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .mob-p0 {
        padding: 0;
    }

    .mob-p4 {
        padding: 4px;
    }

    .mob-p8 {
        padding: 8px;
    }

    .mob-p16 {
        padding: 16px;
    }

    .mob-pl0 {
        padding-left: 0;
    }

    .mob-pr0 {
        padding-right: 0;
    }

    .mob-pb0 {
        padding-bottom: 0;
    }

    .mob-pt0 {
        padding-top: 0;
    }

    .mob-ph0 {
        padding-left: 0;
        padding-right: 0;
    }

    .mob-pv0 {
        padding-bottom: 0;
        padding-top: 0;
    }

    .mob-pl4 {
        padding-left: 4px;
    }

    .mob-pr4 {
        padding-right: 4px;
    }

    .mob-pb4 {
        padding-bottom: 4px;
    }

    .mob-pt4 {
        padding-top: 4px;
    }

    .mob-ph4 {
        padding-left: 4px;
        padding-right: 4px;
    }

    .mob-pv4 {
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .mob-pl8 {
        padding-left: 8px;
    }

    .mob-pr8 {
        padding-right: 8px;
    }

    .mob-pb8 {
        padding-bottom: 8px;
    }

    .mob-pt8 {
        padding-top: 8px;
    }

    .mob-ph8 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .mob-pv8 {
        padding-bottom: 8px;
        padding-top: 8px;
    }

    .mob-pl16 {
        padding-left: 16px;
    }

    .mob-pr16 {
        padding-right: 16px;
    }

    .mob-pb16 {
        padding-bottom: 16px;
    }

    .mob-pt16 {
        padding-top: 16px;
    }

    .mob-ph16 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .mob-pv16 {
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .mob-gap4 {
        gap: 4px;
    }

    .mob-gap8 {
        gap: 8px;
    }

    .mob-gap16 {
        gap: 16px;
    }

    .mob-regular {
        font-weight: 400;
    }

    .mob-medium {
        font-weight: 500;
    }

    .mob-bold {
        font-weight: 600;
    }

    .mob-uppercase {
        text-transform: uppercase;
    }

    .mob-uppercase-first-letter::first-letter {
        text-transform: uppercase;
    }

    .mob-lowercase {
        text-transform: lowercase;
    }

    .mob-underline {
        text-decoration: underline;
    }

    .mob-shadow {
        box-shadow: 4px 0 4px rgba(255,255,255,0.2);
    }

    .mob-text-fill {
        text-align: justify;
        text-justify: inter-word;
    }

    .mob-img38 {
        width: 38px;
        height: 38px;
        min-width: 38px;
        min-height: 38px;
    }

    .mob-img36 {
        width: 36px;
        height: 36px;
        min-width: 36px;
        min-height: 36px;
    }

    .mob-img40 {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
    }

    .mob-img50 {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
    }

    .mob-img100 {
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
    }

    .mob-img32 {
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
    }

    .mob-img64 {
        width: 64px;
        height: 64px;
        min-width: 64px;
        min-height: 64px;
    }

    .mob-img24 {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
    }

    .mob-img18 {
        width: 18px;
        height: 18px;
        min-width: 18px;
        min-height: 18px;
    }

    .mob-img28 {
        width: 28px;
        height: 28px;
        min-width: 28px;
        min-height: 28px;
    }

    .mob-img22 {
        width: 22px;
        height: 22px;
        min-width: 22px;
        min-height: 22px;
    }

    .mob-img20 {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }

    .mob-img16 {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
    }

    .mob-img14 {
        width: 14px;
        height: 14px;
        min-width: 14px;
        min-height: 14px;
    }

    .mob-img12 {
        width: 12px;
        height: 12px;
        min-width: 12px;
        min-height: 12px;
    }

    .mob-img10 {
        width: 10px;
        height: 10px;
        min-width: 10px;
        min-height: 10px;
    }

    .mob-img8 {
        width: 8px;
        height: 8px;
        min-width: 8px;
        min-height: 8px;
    }

    .mob-img4 {
        width: 4px;
        height: 4px;
        min-width: 4px;
        min-height: 4px;
    }

    .mob-radius3 {
        border-radius: 3px;
    }

    .mob-radius4 {
        border-radius: 4px;
    }

    .mob-radius8 {
        border-radius: 8px;
    }

    .mob-radius10 {
        border-radius: 10px;
    }

    .mob-radius-default, .mob-radius16 {
        border-radius: 16px;
    }

    .mob-radius24 {
        border-radius: 24px;
    }

    .mob-radius12 {
        border-radius: 12px;
    }

    .mob-nowrap {
        white-space: nowrap;
    }

    .mob-nowrap-disabled {
        white-space: normal;
        word-break: break-word;
    }

    .mob-cursor {
        cursor: pointer;
    }

    .mob-border-none {
        border: none;
    }
}